* {
  font-family : "Cantarell", sans-serif;
  color : var(--color-foreground);
  box-sizing  : border-box;
  transition: var(--transition);
  margin: 0;
}

:root {
  /* Colors */
  --color-background: #122B41;
  --color-foreground: #D5D9DD;
  --color-secondary : #001B33;
  --color-tertiary  : #000D1A;

  /* UI Design */
  --corner-radius   : 20px;
  --default-padding : 20px;

  /* Transition */
  --transition      : 0.2s ease;
}

.header {
  background: var(--color-background);
  position: sticky;
  top     : 0;
  width   : 100%;
  z-index : 1;
}

.title {
  font-size : 20px;
  text-align    : center;
  color         : white;

  float   : left;
  padding : 18px 20px;
}

.navbar {
  background-color: var(--color-background);
  display         : flex;
  list-style-type : none;
}

.navbar a {
  color : white;
  
  text-decoration : none;
  text-align      : center;

  float   : right;
  display : block;
  padding : 20px 20px;
}

.navbar a:hover {
  background : #31475A;

  margin: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
  align-items: stretch;
}

@media screen and (max-width : 700px) {
  .row {   
    flex-direction: column;
  }
  .navbar {
    justify-content: center; 
    padding-left: 0;
  }
}

.sidebar {
  background-color: var(--color-tertiary); 

  flex: 30%;
  position: sticky;
  padding: 40px;
  line-height: 1.5;
}

.img {
  display: block;
  border-radius: 50%;
  width: 240px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.contacts {
  text-decoration: none;
  padding-top : 20px;
}

.details {
  background-color: var(--color-secondary);
  font-size : 16px;
  flex: 70%;

  height: 100%;
  padding: 20px;
}

.about-me {
  font-size: 18px;
  line-height: 1.5;

  transition: var(--transition);
}

.projects {
  background-color: var(--color-background);
  border-radius: 20px;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;

  display: inline-block;
  text-align: left;
  font-size: 16px;
  line-height: 1.5; 

  transition: var(--transition);
}

.projects:hover {
  background: #31475A;
}

.gallery {
  font-size: 18px;
  line-height: 1.5;

  transition: var(--transition);
}

.arimuranation {
  font-size: 18px;
  line-height: 1.5;

  width: 100%;

  transition: var(--transition);
}

